@import './styles/mixins';
@import './styles/variables';

body {
    padding: 0;
    margin: 0;
}

.container {
    margin: $margin;
    background-color: rgb(51, 51, 51, .2);
    background-image: url(../public/img/og-home.png);
    @include background;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.second {
    color: white;
}